<div class="table-responsive process-definition">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Deploy Time</th>
            <th class="action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(it, index) in entries" @dblclick="showDiagram(it.id)">
            <td>{{ index + 1 }}</td>
            <td>{{ it.displayName }}</td>
            <td>{{ it.description }}</td>
            <td>{{ it.deployTime }}</td>
            <td class="action" @click="showContextmenu()">
                <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" @click="showDiagram(it.id)">Show Diagram</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
